# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [1]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [2]:
# 2) seu código aqui
df = pd.DataFrame(sinasc)
df.isna().sum().sort_values(ascending=False)

DTRECORIGA    27028
CODANOMAL     26814
IDADEPAI      19421
SERIESCMAE    12710
DTULTMENST    10072
              ...
PESO              0
DTCADASTRO        0
NUMEROLOTE        0
VERSAOSIST        0
ORIGEM            0
Length: 69, dtype: int64

In [32]:
# 3) seu código aqui
df[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']].isna().sum().sort_values(ascending=False)

QTDFILVIVO    1573
GESTACAO      1232
ESTCIVMAE      317
ESCMAE         312
APGAR5         103
GRAVIDEZ        79
LOCNASC          0
IDADEMAE         0
CONSULTAS        0
dtype: int64

In [63]:
# 4) seu código aqui
df2 = df[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO','GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']]
df2 = df2.dropna(subset=['APGAR5'])
df2.isna().sum().sort_values(ascending=False)

QTDFILVIVO    1566
GESTACAO      1216
ESTCIVMAE      315
ESCMAE         310
GRAVIDEZ        76
LOCNASC          0
IDADEMAE         0
CONSULTAS        0
APGAR5           0
dtype: int64

In [64]:
# 5) seu código aqui
df2.loc[(df2['ESTCIVMAE'] == 9) | (df2['CONSULTAS'] == 9)].sum()

C:\Users\gabrielhxcx\AppData\Local\Temp\ipykernel_7284\2205742231.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.loc[(df2['ESTCIVMAE'] == 9) | (df2['CONSULTAS'] == 9)].sum()

LOCNASC        197.0
IDADEMAE      4862.0
ESTCIVMAE     1402.0
QTDFILVIVO     187.0
CONSULTAS      966.0
APGAR5        1781.0
dtype: float64

In [65]:
# 6) Seu código aqui
df2['QTDFILVIVO'].fillna(0,inplace=True)
df2['QTDFILVIVO'].isna().sum()

0

In [66]:
# 7) seu código aqui

#verificando variaveis vazias;

df2.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [67]:
# Verificando os dados antes da alteração
df2.describe().transpose()

              count       mean       std   min   25%   50%   75%   max
LOCNASC     26925.0   1.007168  0.126025   1.0   1.0   1.0   1.0   4.0
IDADEMAE    26925.0  26.095339  6.386409  11.0  21.0  26.0  31.0  53.0
ESTCIVMAE   26610.0   2.544720  1.670264   1.0   1.0   2.0   5.0   9.0
QTDFILVIVO  26925.0   0.989601  1.158913   0.0   0.0   1.0   1.0  30.0
CONSULTAS   26925.0   3.578793  0.785540   1.0   3.0   4.0   4.0   9.0
APGAR5      26925.0   9.179164  0.790574   0.0   9.0   9.0  10.0  10.0

In [68]:
# a variavel 'ESTCIVMAE'(float64), sera substituída por sua média, 
#enquanto os valores no formato object serão dropados sem alterar significativamente o restante da base.

df2[['ESTCIVMAE','ESCMAE','GESTACAO','GRAVIDEZ']].dtypes

ESTCIVMAE    float64
ESCMAE        object
GESTACAO      object
GRAVIDEZ      object
dtype: object

In [69]:
df2['ESTCIVMAE'].fillna(df2.mean(),inplace=True)
df2.describe().transpose()

C:\Users\gabrielhxcx\AppData\Local\Temp\ipykernel_7284\148169813.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2['ESTCIVMAE'].fillna(df2.mean(),inplace=True)

              count       mean       std   min   25%   50%   75%   max
LOCNASC     26925.0   1.007168  0.126025   1.0   1.0   1.0   1.0   4.0
IDADEMAE    26925.0  26.095339  6.386409  11.0  21.0  26.0  31.0  53.0
ESTCIVMAE   26610.0   2.544720  1.670264   1.0   1.0   2.0   5.0   9.0
QTDFILVIVO  26925.0   0.989601  1.158913   0.0   0.0   1.0   1.0  30.0
CONSULTAS   26925.0   3.578793  0.785540   1.0   3.0   4.0   4.0   9.0
APGAR5      26925.0   9.179164  0.790574   0.0   9.0   9.0  10.0  10.0

In [70]:
# realizando o metodo de drop, temos uma redução de -7.05% na base total.
df2.dropna(inplace=True)
qnt_antiga, _  = df.shape
qnt_novo, _  = df2.shape

round(((qnt_novo/qnt_antiga)-1)*100,ndigits=2)

# Resultado: baixa alteração no padrão da base; podemos seguir com a análise.

-7.05

In [74]:
# 8) seu código aqui
df2.loc[df2['APGAR5'] <= 10,'CAT_APGAR5'] = "normal"
df2.loc[df2['APGAR5'] <= 7,'CAT_APGAR5'] = "Asfixia leve"
df2.loc[df2['APGAR5'] <= 5,'CAT_APGAR5'] = "Asfixia moderada"
df2.loc[df2['APGAR5'] <= 3,'CAT_APGAR5'] = "Asfixia severa"

df2[['CAT_APGAR5']].value_counts()

CAT_APGAR5
normal              24699
Asfixia leve          297
Asfixia severa         67
Asfixia moderada       59
dtype: int64

In [75]:

x = df2['CAT_APGAR5'].value_counts()
y = round((x/sum(x)*100),4)
y

normal              98.3162
Asfixia leve         1.1822
Asfixia severa       0.2667
Asfixia moderada     0.2349
Name: CAT_APGAR5, dtype: float64

In [163]:
# 9) seu código aqui

df2['CAT_APGAR5'] = df2['CAT_APGAR5'].str.replace(' ','_')

In [165]:
df2['CAT_APGAR5'].value_counts()

normal              24699
Asfixia_leve          297
Asfixia_severa         67
Asfixia_moderada       59
Name: CAT_APGAR5, dtype: int64